html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
}
.action
{
    position: fixed;
    bottom:50px;
    right:70px;
    width:50px;
    height:50px;
    background:#ffff;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    box-shadow: none;
}
.action span.button{
    position:relative;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 2em;
    font-weight: 600;
    transition: 0.3s ease-in-out;
   
}
.action.active span.button{
    transform: rotate(-135deg);
}
.options{
    position:absolute;
    bottom:55px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background-color: #fff;
}
.action.active ul{
    bottom: 65px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}
.action ul li{
    list-style-type: none;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 3px 0;
    transition: 0.3s;
    font-size: 12px;
    font-weight: bold;
    font-family:'Poppins', sans-serif;
}
.action ul li:hover{
    font-weight: bolder;
    font-size: 16px;

}
a:link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:visited {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:active {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.header img{
    width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
   
} 
.container{
    max-width: 1200px;
    margin:0 auto;
    padding: 1.5em;
}
.menu{
    font-family: 'Poppins', sans-serif;
    font-size: 13px; 

}
.menu-group-heading{
    margin:0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
    font-weight:bolder;
}

.menu-group{
    display: grid;
    grid-template-columns: 1fr;
    gap:1.5em;
    padding: 1.5em 0;
}
.menu-group-eggs{
    display: block;
    grid-template-columns: 1fr;
    gap:1.5em;
    padding: 1.5em 0;
}
.menu-item{
    display:flex;
    justify-content: space-between;
}
.menu-item-eggs{
    display:block;
    justify-content: space-between;
}

.menu-item-image{
    width:200px;
    height:200px;
    flex-shrink:0;
    object-fit: cover;
    margin-right:1.5em;
    border-radius:10px
}
.menu-item-text{
    flex-grow:1;
}
.menu-item-heading{
    display:flex;
    justify-content:space-between ;
    margin:0;
    flex-shrink: 0;
    padding :2px 4px;
}
.menu-item-name-sandwich{
    font-size: 14px;
    font-weight: bold;
}
.menu-item-description{
    line-height: 1.6em;
    font-size: 12px;
    font-weight: bolder;
}
.extra{
    padding-left: 90%;
    font-size: 10px;
    font-weight: bolder;
}
@media screen and (min-width :992px ) {
    .menu{
        font-family: 'Poppins', sans-serif;
        font-size : 13px;
    }

    .menu-group{
        grid-template-columns: repeat(2, 1fr) ;
    }
}
*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}