.header img{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:  solid black;
    border-radius: 50%;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    padding: 1.5em;
}

.menu{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 14px;

}
.menu-group-heading{
    margin:0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

.menu-group{
    display: grid;
    grid-template-columns: 1fr;
    gap:1.5em;
    padding: 1.5em 0;
}
.menu-group-eggs{
    display: block;
    grid-template-columns: 1fr;
    gap:1.5em;
    padding: 1.5em 0;
}
.menu-item{
    display:flex;
    justify-content: space-between;
}
.menu-item-eggs{
    display:block;
    justify-content: space-between;
}

.menu-item-image{
    width:200px;
    height:200px;
    flex-shrink:0;
    object-fit: cover;
    margin-right:1.5em;
    border-radius:10px
}
.menu-item-text{
    flex-grow:1;
}
.menu-item-heading{
    display:flex;
    justify-content:space-between ;
    margin:0;
    padding :2px 4px;
}
.menu-item-description{
    line-height: 1.6em;
}
@media screen and (min-width :992px ) {
    .menu{
        font-size : 16px;
    }

    .menu-group{
        grid-template-columns: repeat(2, 1fr) ;
    }
}
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }