.header img{
    width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
} 
.container{
    max-width: 1200px;
    margin:0 auto;
    padding: 1.5em;
}
.menu{
    font-family: 'Poppins', sans-serif;
    font-size: 13px; 

}
.menu-group-heading{
    margin:0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
    font-weight:bolder;
}

.menu-group{
    display: grid;
    grid-template-columns: 1fr;
    gap:1.5em;
    padding: 1.5em 0;
}
.menu-group-eggs{
    display: block;
    grid-template-columns: 1fr;
    gap:1.5em;
    padding: 1.5em 0;
}
.menu-item{
    display:flex;
    justify-content: space-between;
}
.menu-item-eggs{
    display:block;
    justify-content: space-between;
}

.menu-item-image{
    width:200px;
    height:200px;
    flex-shrink:0;
    object-fit: cover;
    margin-right:1.5em;
    border-radius:10px
}
.menu-item-text{
    flex-grow:1;
}
.menu-item-heading{
    display:flex;
    justify-content:space-between ;
    margin:0;
    flex-shrink: 0;
    padding :2px 4px;
}
.menu-item-description{
    line-height: 1.6em;
    font-size: 12px;
    font-weight: bolder;
}
@media screen and (min-width :992px ) {
    .menu{
        font-family: 'Poppins', sans-serif;
        font-size : 13px;
    }

    .menu-group{
        grid-template-columns: repeat(2, 1fr) ;
    }
}
  